<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : 'Basis' %></title>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <% if notice %>
      <div class="row">
        <div class="small-12 large-6 large-centered columns">
          <div data-alert class="alert-box">
            <%= notice %>
            <a href="#" class="close">&times;</a>
          </div>
        </div>
      </div>
    <% end %>

    <% if alert %>
      <div class="row">
        <div class="small-12 large-6 large-centered columns">
          <div data-alert class="alert-box alert">
            <%= alert %>
            <a href="#" class="close">&times;</a>
          </div>
        </div>
      </div>
    <% end %>

    <%= yield %>

    <%= javascript_include_tag 'application' %>
  </body>
</html>

<% unless Rails.env.production? %>
  <!--
    Host: <%= request.host %>
    Rails Environment: <%= Rails.env %>
    Rails Version: <%= Rails.version %>
    Ruby Version: <%= RUBY_VERSION %>
    Controller: <%= controller_name %>
    Action: <%= action_name %>
  -->
<% end %>
